<div *ngIf="loading" id="preloder">
  <div class="loader"></div>
</div>
<div *ngIf="movie && !loading">
  <section class="anime-details spad">
    <div class="container">
      <div class="anime__details__content">
        <div class="row">
          <div class="col-lg-3">
            <div class="anime__details__pic set-bg"
                 [style.background-image]="'url('+movie.img+')'">
            </div>
          </div>
          <div class="col-lg-9">
            <div class="anime__details__text">
              <div class="anime__details__title">
                <h3>{{movie.title}}</h3>
              </div>
              <p>{{movie.synopsis}}</p>
              <div class="anime__details__widget">
                <div class="row">
                  <div class="col-lg-10 col-md-6">
                    <ul>
                      <li><span>Genre:</span> {{displayCollectionMovieData(movie.genres)}}</li>
                      <li><span>Popularity:</span> {{movie.popularity}}</li>
                      <li><span>Cast:</span> {{displayCollectionMovieData(movie.cast)}}</li>
                      <li><span>Director:</span> {{displayCollectionMovieData(movie.director)}}</li>
                      <li><span>Writer:</span> {{displayCollectionMovieData(movie.writer)}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-similay-movie-cards [title]="'Genre similarity'" [movies]="genreSimilarMovies"></app-similay-movie-cards>
      <app-similay-movie-cards [title]="'Cast similarity'" [movies]="castSimilarMovies"></app-similay-movie-cards>
      <app-similay-movie-cards [title]="'Rating similarity'" [movies]="ratingsSimilarMovies"></app-similay-movie-cards>
      <app-similay-movie-cards [title]="'Synopsis similarity'" [movies]="synopsesSimilarMovies"></app-similay-movie-cards>
      <app-similay-movie-cards [title]="'Title similarity'" [movies]="titleSimilarMovies"></app-similay-movie-cards>
    </div>
  </section>
</div>

